* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding-bottom: 3em;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

footer {
  position: fixed;
  height: 3em;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.header {
  background-color: black;
  color: white;
  padding: 0.8em;
  font-weight: bold;
  font-size: x-large;
}

section {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}

hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.text-left {
    text-align: initial;
    padding-left: 1em;
}

.text-center {
  text-align: center;
}

.text-right {
    text-align: end;
    padding-right: 1em;
}


.container {
    display: flex;
    justify-content: center;
}